.App {
  margin: 20px;
}
.action-bar-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.action-bar-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.country-input {
  font-size: large;
  padding: 10px;
  border: 3px solid lightgray;
}
.country-select {
  font-size: large;
  padding: 10px;
  width: 150px;
  border: 3px solid lightgray;
}
.clear-button {
  width: 40px;
  border: none;
  background: transparent;
  border-bottom: 3px solid grey;
  font-size: large;
  padding: 10px;
  width: 60px;
  color: blue;
}
.countries-button {
  font-size: large;
  padding: 10px;
  background: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 6px;
}
.country-table {
  width: 100%;
  min-height: 300px;
  border-collapse: collapse;
}

.header-cell {
  padding: 8px;
}
.countries.cell {
  padding: 8px;
}
